$listBG: #e2e4e6;

$bodyTextColor: #474747;

$linkColor: #3365FF;
$visitedColor: #7482AD;
$hoverColor: #164ef9;

$normalTextColor: #292929;
$trelloListHeaderColor: #4d4d4d;
$ignoreTextColor: rgba(19, 19, 19, 0.4);

$red:             #ec2f2f;
$orange:          #ffab4a;
$yellow:          #f2d600;
$green:           #61bd4f;
$cyan:            #0ed4f3;
$blue:            #00a2ff;
$indigo:          #30458a;
$violet:          #ba55e2;
$pink:            #ff80ce;
$black:           #000;
$gray:            #c4c9cc;

$redTrello:       #b04632;
$orangeTrello:    #d29034;
$limeTrello:      #4bbf6b;
$greenTrello:     #519839;
$skyTrello:       #00aecc;
$blueTrello:      #0779bf;
$purpleTrello:    #89609e;
$pinkTrello:      #cd5a91;
$grayTrello:      #838c91;
