@import "colors.scss";

h2 {
	clear: both;

	margin-top: 90px;
}

h3 {
	margin-top: 30px;
}

h4 {
	margin: 20px 0;

	font-size: 18px;
}

h5 {
	margin: 0;
}

table {
	width: 100%;
	margin: 30px 0;
}

th {
	padding-bottom: 10px;

	text-align: left;
}

th,
td {
	padding-right: 20px;

	vertical-align: top;
	white-space: nowrap;
}

a:link {
	color: $linkColor;

	text-decoration: none;
}
a:visited {
	color: $visitedColor;
}

a:hover,
a:active {
	color: $hoverColor;

	text-decoration: underline;
}

a[href^="mailto"] {
	text-decoration: underline;
}

details {
	margin-top: 20px;
	padding: 10px;

	background: #f5f5f5;
	border-radius: 5px;

	&[open] summary {
		margin-bottom: 10px;
	}

	h2:first-of-type {
		margin-top: 60px;
	}
}

summary {
	margin: -10px;
	padding: 10px;

	cursor: pointer;
	user-select: none;

	h2,
	h3 {
		display: inline;

		margin: 0;
	}

	&::after {
		float: right;

		content: attr(data-contents);

		color: #999;

		font-style: italic;
	}
}

kbd {
	font-family: inherit;
	font-style: italic;
	&.tag {
		padding: 0 2px;

		background: #d0f2ff;
		border-radius: 2px;

		font-family: monospace;
		font-weight: bold;
		font-style: normal;
	}
}
