@use "colors.scss";

:focus {
	outline: none;
}

h2 {
	clear: both;
	margin-top: 0;
	padding-top: 90px;
}

h3 {
	margin-top: 0;
	padding-top: 30px;
}

h4 {
	padding: 20px 0;

	font-size: 18px;
}

h5 {
	padding: 0;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
}

dl {
	margin-right: 20px;
	margin-left: 20px;
}

dt {
	margin-bottom: 10px;
}

dd {
	margin-bottom: 20px;

	color: colors.$lighterTextColor;
}

table {
	width: 100%;
	margin: 30px 0;
}

th {
	padding-bottom: 10px;

	text-align: left;
}

th,
td {
	padding-right: 20px;

	vertical-align: top;
	white-space: nowrap;
}

a:link {
	color: colors.$linkColor;

	text-decoration: none;
}
a:visited {
	color: colors.$visitedColor;
}

a:hover,
a:active {
	color: colors.$hoverColor;

	text-decoration: underline;
}

a[href^="mailto"] {
	text-decoration: underline;
}

dialog {
	all: unset;

	z-index: 1000;
}

body > dialog[open] {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	&::backdrop {
		background: rgba(0, 0, 0, .352);
	}

	h2 {
		margin: 0;
		padding-top: 0;
	}
}

dialog-contents {
	display: block;
	padding: 30px;

	background-color: colors.$dialogBG;
	border: 0;
	border-radius: 5px;

	filter: drop-shadow(0 0 2px #444);

	form {
		display: flex;
		flex-direction: column;
		max-height: 90vh;
		.form-dialog-body {
			flex: 1;
			overflow-y: scroll;
		}
	}
}

details {
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 10px;

	background: colors.$dialogBG;
	border-radius: 5px;

	&[open] summary {
		margin-bottom: 10px;
	}

	h2:first-of-type {
		margin-top: 60px;
	}

	p {
		margin: 20px;
	}
}

summary {
	margin: -10px;
	padding: 10px;

	cursor: pointer;
	user-select: none;

	h2,
	h3 {
		display: inline;
		margin: 0;
	}

	&::after {
		float: right;

		content: attr(data-contents);
		color: #999;

		font-style: italic;
	}
}

kbd {
	font-family: inherit;
	font-style: italic;
	&.tag {
		padding: 0 2px;

		background: #d0f2ff;
		border-radius: 2px;

		font-family: monospace;
		font-style: normal;
		font-weight: bold;
	}
}

.remove {
	display: none !important; // gross
}

.invisible {
	visibility: hidden;
}

.flash {
	animation-name: flash;
	animation-duration: 750ms;

	animation-fill-mode: both;
}

.success-message {
	display: inline-block;
	margin: 0;
	padding: 2px 6px;

	background: #edffca;
	border-radius: 3px;

	font-weight: bold;
	@at-root span#{&} {
		margin: 0 15px;
	}
}

.error-message {
	display: inline-block;
	margin: 0;
	padding: 2px 6px;

	background: #ffcaca;
	border-radius: 3px;

	font-weight: bold;
}

.warning-message {
	display: inline-block;
	margin: 0;
	padding: 2px 6px;

	background: #ffedca;
	border-radius: 3px;

	font-weight: bold;
}

@keyframes flash {
	from,
	50%,
	to {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
