@font-face {
    font-family: trellicons;
    font-weight: 400;
    font-style: normal;

    src: url(https://d78fikflryjgj.cloudfront.net/fonts/b08bd554775eafa560d3ea99519e527e/trellicons.eot?#iefix) format('embedded-opentype'),
    url(https://d78fikflryjgj.cloudfront.net/fonts/dffc8173a96c4bb2ff17961efb603c95/trellicons.woff) format('woff'),
    url(https://d78fikflryjgj.cloudfront.net/fonts/ac25df9f836b334cec81a4ae8fbc5adb/trellicons.ttf) format('truetype');
}

@mixin trellicons ($symbol: null) {
    @if $symbol {
        content: $symbol;
    }
    font-family: trellicons;
    -webkit-font-smoothing: antialiased;
}
