@import "colors";

button {
	display: inline-block;
	align-self: flex-end;

	padding: 7px 20px;
	box-sizing: border-box;

	color: $trelloListHeaderColor;
	background: linear-gradient(to bottom, #d6dadc 0, #cdd2d4 100%);
	background-color: $listBG;
	border: none;
	border-radius: 3px;
	box-shadow: 0 1px 0 #959da1;

	text-align: center;
	font: bold 14px/22px "Helvetica Neue", Arial, Helvetica, sans-serif;

	cursor: pointer;
	user-select: none;

	&.mod-primary {
		color: #fff;
		background: linear-gradient(to bottom,#61bd4f 0,#5aac44 100%);
		box-shadow: 0 1px 0 #3f6f21;
	}
}

input[type="text"] {
	display: block;
	-webkit-appearance: none;

	width: 80px;
	min-height: 2pc;
	margin-bottom: 9pt;
	padding: 7px;
	box-sizing: border-box;

	color: $trelloListHeaderColor;
	border: 1px solid #cdd2d4;
	border-radius: 3px;

	font: 14px/18px "Helvetica Neue",Arial,Helvetica,sans-serif;
	text-transform: uppercase;
}

label {
	cursor: pointer;
	user-select: none;

	&.disabled {
		cursor: text;
	}
}

range-input {
	display: block;

	margin-left: 30px;

	input {
		width: 100%;

		cursor: pointer;
	}

	label {
		display: block;

		width: 100%;

		text-align: justify;
		text-align-last: justify;
	}
}
