
// scss /Users/beingmrkenny/iCloud/Code/WebExtensions/ListHighlighterForTrello/scss/init.scss:/Users/beingmrkenny/iCloud/Code/WebExtensions/ListHighlighterForTrello/Extension/style.css --sourcemap=none --style=compact --cache=/tmp/sass-cache

$listBG: #E2E4E6;
$highListBG: #ec2f2f;

$normalTextColor: #292929;
$ignoreTextColor: rgba(19, 19, 19, 0.4);

@mixin listHeader ($textColor, $editingTextColor: $textColor) {
    .list-header-num-cards,
    .mod-list-name,
    .mod-list-name:disabled {
		color: $textColor;
		-webkit-text-fill-color: $textColor;
        @content;
	}
    .mod-list-name.is-editing, {
		color: $editingTextColor;
		-webkit-text-fill-color: $editingTextColor;
	}
}

@mixin generalOpacity($opacity) {
    .list-header,
    .list-cards,
    .open-card-composer {
        opacity: $opacity;
    }
}

@mixin listCard($background, $border, $color) {
	.list-card:not(.placeholder):not(.active-card) {
		background: $background;
		border-bottom-color: $border;
		a, textarea {
			color: $color;
			@content;
		}
    }
}

@mixin listCardActive($background, $border, $color) {
	.list-card:not(.placeholder).active-card {
    	background: $background;
    	border-bottom-color: $border;
    	a, textarea {
    		color: $color;
            @content;
    	}
    }
}

@mixin listCardOperation ($color, $hoverBackground, $hoverColor) {
    .active-card .list-card-operation {
        background: transparent;
		color: $color;
        &:hover {
            @if $hoverBackground {
                background: $hoverBackground;
            }
    		color: $hoverColor;
    	}
    }
}

@mixin listButtons ($background, $color) {
    .open-card-composer,
    .list-header-extras-menu {

        @if $color {
            color: $color;
            .icon-sm {
                color: $color;
            }
        }

        @if $background {
            &:hover {
                background: $background;
            }
        }

    }

    // card footer buttons
    .icon-lg {

        &.dark-hover,
        &.dark-background-hover {
            opacity: .7;
            color: $color;

            &:hover {
                opacity: 1;
            }

        }

        &.dark-background-hover:hover {
            background: $background;
        }

    }

    .list-card.placeholder {
        background: $background;
        border-bottom-color: transparent;
    }
}

@mixin badges ($normalColor, $specialBackground, $specialColor) {

    .badge-icon,
    .badge-text {
        color: $normalColor;
    }

    .badge.is-complete,
    .badge.is-unread-notification,
    .badge.is-due-soon,
    .badge.is-due-now,
    .badge.is-due-past {
        @if $specialBackground {
            background: $specialBackground;
        }
        color: $specialColor;
        .badge-icon,
        .badge-text {
            color: $specialColor;
        }
    }

    @if $specialBackground {
        .badge.is-voted {
            background: $specialBackground;
            color: $specialColor;
            .badge-icon,
            .badge-text {
                color: $specialColor;
            }
        }
    }
}

@import 'normal';
@import 'low';
@import 'high';
@import 'ignore';

.bmko_list-highlighter-applied {

	.list {

		.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
			background: rgba(0, 0, 0, .1);
		}

		.u-fancy-scrollbar::-webkit-scrollbar-thumb {
			background: rgba(0, 0, 0, .17);
		}

		&.bmko_normal-list {
			@include normal();
		}

		&.bmko_ignore-list,
		&.bmko_trash-list {
			@include ignore();
		}

		&.bmko_trash-list .list-cards {
			text-decoration: line-through;
		}

		&.bmko_high-list {
			@include high();
		}

	}

	&:not(.bmko_do-not-dim-lists) {
		.list:not(.bmko_normal-list):not(.bmko_high-list):not(.bmko_ignore-list):not(.bmko_trash-list) {
            @include low();
		}
	}

    &.bmko_do-not-dim-lists {
		.list {
			@include normal();
		}
		.bmko_low-list {
			@include low();
		}
        .bmko_ignore-list,
		.bmko_trash-list {
			@include ignore();
		}
	}

	&.body-color-blind-mode-enabled .bmko_high-list {
		background-image: linear-gradient(to bottom right,rgba(255,255,255,.5) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.5) 50%,rgba(255,255,255,.5) 75%,transparent 75%,transparent);
		background-size: 2pc 2pc;
		.open-card-composer {
			opacity: 1;
		}

		.mod-list-name,
		.open-card-composer {
			text-shadow: 0 0 6px black;
		}
	}

}
