@mixin low () {

	background: transparentize($listBG, 0.5);

	$buttonHover: rgba(0, 0, 0, .1);

	@include generalOpacity(.6);

	@include listHeader ($normalTextColor);

	@include listCard(transparentize(white, .8), rgba(255, 255, 255, 0.25), black);

	@include listCardActive(transparentize(white, .5), rgba(255, 255, 255, 0.25), black);

	@include listCardOperation($normalTextColor, $buttonHover, black);

	@include listButtons ($buttonHover, $normalTextColor);

	@include badges (transparentize($ignoreTextColor, .1), null, white);

	.list-card.is-stickered .list-card-details {
		background: transparent;
	}

	.list-card-cover {
		opacity: .4;
	}

}
