@import 'fonts.scss';
@import 'colors.scss';

@mixin full-width($width, $backgroundColor: white) {
	width: $width;
	background: $backgroundColor;
	border-left: calc( (100vw - #{$width}) / 2 ) solid $backgroundColor;
	border-right: calc( (100vw - #{$width}) / 2 ) solid $backgroundColor;
}

body {
	margin: 70px auto 20px;
	width: 700px;
	line-height: 1.6em;

	font-family: 'Helvetica Neue', 'Helvetica', Arial sans-serif;
	font-size: 16px;

	color: $bodyTextColor;

}

#MainHeader {

	h1 {
		line-height: 37px;
	}

	img, svg {
		float: left;
	}

	img {
		width: 40px;
		margin-right: 20px;
	}

	svg {
		width: 52px;
		margin-top: -6px;
		margin-right: 14px;
	}

}

#TodoList {
	fill: $red;
}

.color-tile-bar {
	position: relative;
	display: flex;
	justify-content: space-between;

	width: 100%;
	min-height: 83px;
	margin: 0;
	padding: 0;

	list-style: none;

	li {
		margin: 0;
		padding: 0;
	}

	label {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;

		width: 60px;
		height: 60px;

		cursor: pointer;

		text-align: center;

		border-radius: 3px;
		color: white;

		user-select: none;

		transition: height .25s, color .25s, background-color .25s;

		&::before {
			transition: color .25s;
			color: white;
		}

		&.red		{ background-color: $red; }
		&.orange	{ background-color: $orange; }
		&.yellow	{ background-color: $yellow; }
		&.green		{ background-color: $green; }
		&.cyan		{ background-color: $cyan; }
		&.blue		{ background-color: $blue; }
		&.indigo	{ background-color: $indigo; }
		&.violet	{ background-color: $violet; }
		&.pink		{ background-color: $pink; }
		&.black		{ background-color: $black; }
		&.custom	{ background-color: $listBG; }

		&.mod-light-background {
			color: black;
			&::before {
				color: black;
			}
		}

	}

	.edit-link {
		display: none;
		height: 19px;
		font-size: 12px;
		color: inherit;
		margin-left: -5px;
		&::before {
			@include trellicons("\e91D");
			margin-right: 1px;
			vertical-align: bottom;
		}
		&:hover {
			text-decoration: none;
			color: white;
		}
	}

	input:checked + label {
		position: relative;

		height: 83px;

		&::before {
			position: absolute;
			top: 15px;
			left: 18px;

			@include trellicons('\e910');

			width: 26px;
			height: 20px;

			font-size: 26px;

			border-radius: 3px;

		}

		.edit-link {
			display: inline;
		}
	}

	input {
		display: none;
	}
}

.color-tile-bar-container {

	margin-top: 20px;
	padding: 10px;

	border-radius: 5px 5px 0 0;

	.color-tile-bar {
		margin-bottom: 0;
		min-height: 73px;

		label {
			width: 50px;
			height: 50px;

			font-size: 13px;
		}

		.edit-link {
			height: 16px;
			font-size: 11px;
			margin-left: -4px;
		}

		input:checked + label {
			position: relative;

			height: 73px;

			&::before {
				top: 10px;
				left: 13px;

				width: 26px;
				height: 20px;

				font-size: 21px;
			}
		}
	}
}

#DummyBoard {

	border-radius: 5px;
	transition: background .25s;

	#DummyBoardSVG {
		border-radius: 0 0 3px 5px;
		margin-bottom: -7px;
	}

	&[data-trello-bg='red']		{ background: $redTrello; }
	&[data-trello-bg='orange']	{ background: $orangeTrello; }
	&[data-trello-bg='lime'] 	{ background: $limeTrello; }
	&[data-trello-bg='green']	{ background: $greenTrello; }
	&[data-trello-bg='sky']		{ background: $skyTrello; }
	&[data-trello-bg='blue']	{ background: $blueTrello; }
	&[data-trello-bg='purple']	{ background: $purpleTrello; }
	&[data-trello-bg='pink']	{ background: $pinkTrello; }
	&[data-trello-bg='grey']	{ background: $greyTrello; }

	.list {
		fill: rgb(226, 228, 230);
	}

	.card {
		fill: white;
	}

	.normal-list {
		.list {
			fill: rgba(226, 228, 230, .498039);
		}
		.card {
			fill: rgba(255, 255, 255, .2);
		}
	}

	.doing-list .list {
		fill: $red;
		transition: fill .25s;
	}

	.done-list {
		.list {
			fill: rgba(226, 228, 230, .0666667);
		}
		.card {
			fill: rgba(255, 255, 255, .0588235);
		}
	}

	.trello-bg-color-button {
		cursor: pointer;
	}

	.trello-bg-color-selected {
		stroke-width: 3px;
		fill: #d8d8d8;
	}

	&[data-trello-bg="blue"] 	[data-trello-bg="blue"] 	{ stroke: $blueTrello; }
	&[data-trello-bg="orange"] 	[data-trello-bg="orange"] 	{ stroke: $orangeTrello; }
	&[data-trello-bg="green"] 	[data-trello-bg="green"] 	{ stroke: $greenTrello; }
	&[data-trello-bg="red"] 	[data-trello-bg="red"] 	{ stroke: $redTrello; }
	&[data-trello-bg="purple"] 	[data-trello-bg="purple"] 	{ stroke: $purpleTrello; }
	&[data-trello-bg="pink"] 	[data-trello-bg="pink"] 	{ stroke: $pinkTrello; }
	&[data-trello-bg="lime"] 	[data-trello-bg="lime"] 	{ stroke: $limeTrello; }
	&[data-trello-bg="sky"] 	[data-trello-bg="sky"] 	{ stroke: $skyTrello; }
	&[data-trello-bg="grey"] 	[data-trello-bg="grey"] 	{ stroke: $greyTrello; }

	#BlueButton		{ fill: $blueTrello; }
	#OrangeButton	{ fill: $orangeTrello; }
	#GreenButton	{ fill: $greenTrello; }
	#RedButton		{ fill: $redTrello; }
	#PurpleButton	{ fill: $purpleTrello; }
	#PinkButton		{ fill: $pinkTrello; }
	#LimeButton		{ fill: $limeTrello; }
	#SkyButton		{ fill: $skyTrello; }
	#GreyButton		{ fill: $greyTrello; }

	#DefaultDummyTile + hr {
		content: ' ';
		display: block;
		margin: 23px 5px;
		height: 5px;
		width: 5px;
		background: white;
		border-radius: 10px;
		border: 0;
		opacity: .3;
	}

}

.color-blind-friendly-mask {
	display: none;
}

.color-blind-friendly-mode .color-blind-friendly-mask {
	display: auto;
}

color-picker[hidden] {
	display: none;
}

color-picker {
	position: absolute;
	top: 0;
	left: calc(100% + 10px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 200px;
	padding: 15px;

	background-color: #f5f5f5;
	border-radius: 5px;
	filter: drop-shadow(0 0 4px #c5c5c5);
}

color-picker::before {
	position: absolute;
	z-index: -1;
	top: 25px;
	left: -7px;
	display: inline-block;
	content: ' ';
	width: 15px;
	height: 15px;
	transform: rotate(45deg);

	background-color: #f5f5f5;
}

color-picker * {
	display: block;
	box-sizing: border-box;
}

component-picker {
	position: relative;
	margin-bottom: 15px;
}
.sv-picker {
	width: 200px;
	height: 200px;
}
.hue-picker {
	width: 200px;
	height: 30px;
}

range-display {
	height: 100%;
}
.sv-range {
	cursor: pointer;
}
.hue-range {
	overflow-x: hidden;

	border-radius: 3px;

	cursor: pointer;
}

position-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;

	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0 0 3px gray;

	pointer-events: none;
}
.hue-indicator {
	top: 5px;

	background: white;
}

color-picker hr {
	width: 100%;
	visibility: hidden;
	margin: 0;
}

#ColorHex {
	text-transform: lowercase;
	&:invalid {
		border-color: red;
	}
}

footer {
	color: gray;
	margin-top: 110px;
}

.disabled,
.disabled small {
	color: rgb(187, 187, 187);
}

[for="HighlightTitles"] {
	margin-top: 20px;
}

@import 'elements.scss';
@import 'forms.scss';

body.preload * {
	transition: none !important;
}
