@import "fonts.scss";
@import "colors.scss";

@import "options-page/layout.scss";

@mixin transition ($property...) {
	transition-duration: 0.25s;
	transition-property: $property;
}

body {
	line-height: 1.6em;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 16px;
	color: $bodyTextColor;
}

#MainHeader {
	border-bottom: 1px solid #d6dadc;

	h1 {
		margin: 0;

		line-height: 37px;
	}

	h4 {
		margin-top: 60px;
	}

	img,
	svg {
		float: left;
	}

	img {
		width: 40px;
		margin-right: 20px;
	}

	svg {
		width: 52px;
		margin-top: -6px;
		margin-right: 14px;
	}
}

.tags-and-titles {
	margin-top: 0;
	th,
	td {
		width: 50%;
	}

	th {
		padding-top: 40px;
	}
}

.high,
.normal,
.done,
.ignore,
.low {
	margin-bottom: 5px;
	padding: 5px 7px;

	border-radius: 3px;
}

.high {
	color: var(--high-pri-text);
	background: var(--high-pri);
}

.normal {
	color: $normalTextColor;
	background: $listBG;
}

.low {
	color: transparentize(#444444, 0.6);
	background: transparentize($listBG, 0.5);
}

.ignore,
.done {
	opacity: 0.5;

	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	color: $ignoreTextColor;
	background: transparentize($listBG, 0.7);
}

.done {
	text-decoration: line-through;
	text-shadow: 1px 1px 0 white;
}

nav {
	display: flex;

	ul,
	li {
		margin: 0;
		padding: 0;

		list-style: none;
	}

	ul {
		display: flex;
		justify-content: center;
		min-width: 100%;
		height: 38px;
	}

	li {
		display: inline-block;
		margin: 2px 2px 0;

		background-color: #d6dadc;
		border: 1px solid #d6dadc;
		border-bottom: 0;
		border-radius: 3px 3px 0 0;

		cursor: pointer;

		&.active {
			margin-bottom: -1px;
			padding-bottom: 9px;

			background-color: #ffffff;
			border-color: #d6dadc;

			cursor: default;

			&:hover {
				background-color: #ffffff;
				border-color: #d6dadc;
			}
		}

		&:hover {
			background: #b6bbbf;
			border-color: #b6bbbf;
		}

		a {
			display: inline-block;
			padding: 8px 20px;

			line-height: 18px;
			font-size: 14px;
			font-weight: 700;

			&:link,
			&:visited,
			&:hover,
			&:active {
				text-decoration: none;
				color: #444444;
			}
		}

	}
}

main {
	section {
		display: none;
		&.active {
			display: block;
		}
	}
}

footer {
	font-size: 0.875rem;
	text-align: center;
	color: gray;
	p {
		margin: 15px 0;

		line-height: 1.3;
	}
}

// #Rules {
// 	h3 {
// 		margin-top: 0;
//
// 		font-size: 1rem;
// 	}
//
// 	.option-group h3 {
// 		margin-top: 30px;
// 	}
//
// 	p {
// 		margin-top: 0;
// 		margin-bottom: 5px;
// 		&.small {
// 			width: 150px;
// 			margin-top: 20px;
//
// 			line-height: 1.3;
// 			font-size: 0.9rem;
// 			white-space: normal;
// 		}
// 	}
//
// 	ul,
// 	li {
// 		margin: 0;
// 		padding: 0;
//
// 		list-style: none;
// 	}
//
// 	tr td:first-child {
// 		position: relative;
// 	}
//
// 	.option-group {
// 		width: 265px;
// 	}
//
// 	.sub-option {
// 		display: none;
// 		margin: 10px 0 10px 20px;
// 	}
//
// 	.option-group.open .sub-option {
// 		display: block;
// 	}
//
// 	input[type=range] {
// 		margin-top: 7px;
// 	}
//
// 	textarea {
// 		border-radius: 3px;
// 	}
//
// 	.options-treatments {
// 		width: 420px;
// 	}
//
// 	.options-on-off {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		label {
// 			margin-right: 0;
// 		}
// 	}
// }

@import "options-page/color-picker";
@import "options-page/dummy-board";
@import "options-page/color-tiles";
@import "options-page/option-widgets";

@import "elements.scss";
@import "forms.scss";

body.preload * {
	transition: none !important;
}
