@import "fonts";
@import "colors";

body {
	margin: 0;

	background: white;

	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

	&.trello-page {
		width: 250px;
	}
}

#ListHighlighter {
	margin: 10px;
	padding: 10px 20px 20px;

	color: $trelloListHeaderColor;
	background: #edeff0;
	border-radius: 4px;

	&.dark-background {
		color: white;
	}
}

h1 {
	display: flex;
	justify-content: space-between;
}

h1,
h2 {
	margin-top: 4px;

	font-size: 16px;
}

div {
	margin: 20px 0 0;
}

p {
	margin-bottom: 0;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

button,
.button,
#HighlightIndicator {
	color: $trelloListHeaderColor;

	font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dark-background #HighlightIndicator {
	color: white;
}

button,
.button {
	position: relative;

	height: 34px;
	overflow: hidden;
	margin-top: 6px;
	padding: 7px;
	box-sizing: border-box;

	background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);
	border: 1px solid $listBG;
	border-bottom-color: #cdd2d4;
	border-radius: 3px;

	line-height: 18px;

	cursor: pointer;
	user-select: none;

	&:hover {
		color: #fff;
		background: #298fca;
		border-color: #298fca #298fca #026aa7;
	}

	& img {
		position: absolute;
		top: 6px;
		left: 6px;

		width: 20px;
		height: 20px;
	}

	& .gear::before {
		position: absolute;
		top: 7px;
		left: 10px;

		content: "\e926";

		font-family: trellicons;
		font-size: 16px;
	}

	&:hover .gear::before {
		color: white;
	}
}

#Settings {
	padding-left: 32px;
}

#HighlightIndicator {
	&::before {
		display: inline-block;

		width: 20px;
		height: 20px;
		margin-right: 6px;

		content: " ";

		background: url("/img/256off.svg") no-repeat;
		border-radius: 2px;

		vertical-align: middle;
	}

	&.on::before {
		background: url("/img/256.svg") no-repeat;
		border: 1px solid rgba(255, 255, 255, 0.28);
	}
}
