@import 'fonts';

body {
	margin: 0;

	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

	background: white;
}

#ListHighlighter {
	margin: 10px;
	padding: 10px 20px 20px;
	width: 150px;

	border-radius: 4px;
	color: #4d4d4d;
	background: #edeff0;

	&.dark-background {
		color: white;
	}
}

h1,
h2 {
	margin-top: 4px;

	font-size: 16px;
}

div {
	margin: 20px 0 0;
}

p {
	margin-bottom: 0;
}

button,
.button,
#HighlightIndicator {
	font: 14px 'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #4d4d4d;
}

.dark-background #HighlightIndicator {
	color: white;
}

button,
.button {
	position: relative;

	line-height: 18px;
	box-sizing: border-box;
	height: 34px;
	overflow: hidden;
	margin-top: 6px;
	padding: 7px;

	cursor: pointer;

	border: 1px solid #e2e4e6;
	border-bottom-color: #cdd2d4;
	border-radius: 3px;
	background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);

	user-select: none;

	&:hover {
		border-color: #298fca #298fca #026aa7;
		color: #fff;
		background: #298fca;
	}

	& img {
		position: absolute;
		top: 6px;
		left: 6px;

		width: 20px;
		height: 20px;
	}

	& .gear::before {
		content: '\e926';
		font-family: trellicons;
		font-size: 16px;
		position: absolute;
		top: 7px;
		left: 10px;
	}

	&:hover .gear::before {
		color: white;
	}
}

#Settings {
	width: 120px;
	padding-left: 32px;
}

#HighlightIndicator {

	position: relative;
	top: 2px;
	left: 3px;

	&::before {
		position: relative;
		top: 4px;
		margin-right: 6px;
		background: url('/img/256off.svg') no-repeat;
		content: ' ';
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 1px solid rgba(255, 255, 255, 0.28);
		border-radius: 2px;
	}

	&.on::before {
		background: url('/img/256.svg') no-repeat;
	}
}
