Extension/css/options.css
Extension/css/popup.css
Extension/css/style.css
*.map
Extension/options-page/
chrome.scpt
config.json
node_modules/
/trash/
Extension/manifest.json

.sass-cache
.csscomb.json
node_modules
package-lock.json

# Mac Specific
*.scpt
.DS_Store
.Spotlight-V100
.Trashes

# Snet Crap
.idea/
*.iml
