<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>List Highlighter for Trello Settings</title>
	<link rel="stylesheet" href="/css/options.css">
	<link rel="icon" href="/img/buttonIcon.png">
	<meta name="google" content="notranslate">
</head>

<body class="preload">

	<header id="MainHeader">
		<div>
			<img src="/img/256.png" alt="" width="40" height="40">
			<h1>List Highlighter for Trello — Settings</h1>
			<p>Change list background colours</p>
			<details class="version-5">
				<summary>Where are the other sections?</summary>
				<p>
					With profound apologies for the inconvenience, the other sections of this extension have been permanently removed.
					For more information, and better ways to get the same effects, please visit:
				</p>
				<p><a href="https://beingmrkenny.co.uk/web-extensions/list-highlighter-trello/version-5">https://beingmrkenny.co.uk/web-extensions/list-highlighter-trello/version-5</a></p>
			</details>

			{{!-- Uncomment this when ready to include --}}
			{{!-- <nav>
				<ul>
					<li><a href="#Highlighting">Highlighting</a></li>
					<li><a href="#Data">Export/Import</a></li>
				</ul>
			</nav> --}}

		</div>
	</header>

	<main>
		{{> highlighting.section }}
		{{!-- {{> data.section }} --}}
	</main>

	<footer>
		<p>
			<a href="/options-page/index.html" target="_blank">View this options page in a new tab</a>
		</p>
		<p>
			For more information visit the
			<a href="http://beingmrkenny.co.uk/web-extensions/list-highlighter-trello">List Highlighter for Trello</a>
			homepage
		</p>
		<p>
			Color Picker based on <a href="https://github.com/DavidDurman/FlexiColorPicker">FlexiColorPicker by David Durman</a>
				<br>
			<a href="http://www.jacklmoore.com/autosize/">Autosize</a> by <a href="http://www.jacklmoore.com/">Jack Moore</a>
				&middot;
			<a href="https://sortablejs.github.io/Sortable/">Sortable.js</a> by <a href="https://github.com/RubaXa">RubaXa</a> and <a href="https://github.com/SortableJS">SortableJS</a>
		</p>
	</footer>

	<dialog></dialog>

	{{!-- <a href="/options-page/index.html" target="_blank" id="NewTab">Open options in new tab</a> --}}

	{{> templateTags.template colors=colors }}
	{{> listHighlightColor.template }}
	{{> colorPicker.template colors=colors }}

	{{!-- REVIEW these millions of js files is annoying to maintain - make it dynamic --}}

	<script src="/js/functions.js"></script>

	<script src="/js/classes/Global.js"></script>
	<script src="/js/classes/DataStorage.js"></script>
	<script src="/js/classes/StorageLegacy.js"></script>
	<script src="/js/classes/Color.js"></script>
	<script src="/js/classes/Options.js"></script>
	<script src="/js/classes/Rule.js"></script>
	<script src="/js/classes/Rules.js"></script>

	<script src="/js/third/colorpicker.js"></script>
	<script src="/js/third/Sortable.js"></script>
	<script src="/js/third/autosize.js"></script>
	<script src="/js/third/saveAs.js"></script>

	<script src="/js/options-page/Dialogue.js"></script>
	<script src="/js/options-page/DataSection.js"></script>
	<script src="/js/options-page/Export.js"></script>
	<script src="/js/options-page/Import.js"></script>
	<script src="/js/options-page/ColorSelect.js"></script>
	<script src="/js/options-page/LHCDColorSelect.js"></script>
	<script src="/js/options-page/ColorDialog.js"></script>
	<script src="/js/options-page/ListHighlightColorDialog.js"></script>
	<script src="/js/options-page/ColorPickerWrapper.js"></script>
	<script src="/js/options-page/RulesTable.js"></script>
	<script src="/js/options-page/RulesTableTR.js"></script>
	<script src="/js/options-page/OptionsPage.js"></script>

	<script src="/js/optionsPageInit.js"></script>

</body>
</html>
