<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>List Highlighter for Trello Settings</title>
	<link rel="stylesheet" href="/css/options.css">
	<link rel="icon" href="/img/buttonIcon.png">
	<meta name="google" content="notranslate">
</head>

<body class="preload">

	<header id="MainHeader">
		<div>
			<img src="/img/256.png" alt="" width="40" height="40">
			<h1>List Highlighter for Trello — Settings</h1>
			<p>Change list background colours</p>
			<details class="version-5">
				<summary>Where are the other sections?</summary>
				<p>
					With profound apologies for the inconvenience, the other sections of this extension have been permanently removed.
					For more information, and better ways to get the same effects, please visit:
				</p>
				<p><a href="https://beingmrkenny.co.uk/web-extensions/list-highlighter-trello/version-5">https://beingmrkenny.co.uk/web-extensions/list-highlighter-trello/version-5</a></p>
			</details>
		</div>
	</header>

	<main>
		<section id="Highlighting">

			<h2>Highlighting</h2>

			<p>Create rules based on your list titles, and apply the effects you want. For example, you could turn a list red if its title is “Things to do today”. Or you could make it faded if the title contains the words “done” or “trash”.</p>

			<header id="RulesTableHeader">
				<h3>Rules</h3>
				<button class="mod-primary" id="NewRuleButton">Add Rule</button>
			</header>

			<table class="highlighting-table">
				<thead>
					<tr>
						<th colspan="2">Rule</th>
						<th>List title</th>
						<th>Colour</th>
						<th colspan="2">More options</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>

			<details>
				<summary>Notes</summary>
				<dl>
					<dt>Text matching</dt>
					<dd>All text matching is case-insensitive, e.g. TODO is the same as todo. Only whole words are matched, e.g. “doing” will only match the whole word “doing”. It will not match “undoing” or “#doing”.</dd>
					<dt>Order</dt>
					<dd>Rules are applied in the order they appear above, from top to bottom. The first matching rule will be applied. Once a rule matches a list, processing stops. You can reorder the rules by dragging them using the left hand side.</dd>
					<dt>List title <b><i>is</i></b></dt>
					<dd>This field should contain entire titles. The rule will be applied if the <strong>entire</strong> title text matches one of these titles.</dd>
					<dt>List title <b><i>contains</i></b></dt>
					<dd>This field should contain parts of titles. The rule will be applied if <strong>part of</strong> the title text matches, i.e. if the title text contains this. This is useful if you want to match lists with similar names, e.g. “Things to do”, “To do list”, “Things to do this week”.</dd>
					<dt>More options: <b>strikethrough</b></dt>
					<dd>This option puts a line through all text on the list</dd>
					<dt>More options: <b>greyscale</b></dt>
					<dd>This option turns all colour on lists to grey</dd>
					<dt>More options: <b>other lists</b></dt>
					<dd>When a list matches a rule with the “Other list” options turned on, List Highlighter will look for any lists on the board that do not match any rules. It will then apply the rule you specify to these lists. For example, you could have “To do” lists highlighted red, then apply a “Low importance” rule to the other lists on the board.</dd>
				</dl>
			</details>

			<h3>Other options</h3>

			<div class="standard-options">
				<div>
					<h4>Hide hashtags in list headers</h4>
					<p>With apologies, it has not been possible to restore this option after Trello’s latest update.</p>
				</div>
				<option-widget>
					<input type="checkbox" disabled="disabled" class="options-input" id="HighlightHideHashtagsDisabled" name="HighlightHideHashtagsDisabled">
					<label for="HighlightHideHashtagsDisabled">
						Hide hashtags
					</label>
				</option-widget>
			</div>

			<div class="standard-options">
				<div>
					<h4>Change text colour to contrast with background</h4>
					<p>If this is enabled, list titles and heading cards will change colour to ensure good contrast between text and background colour.</p>
					<p>Default: on</p>
				</div>
				<option-widget>
					<input type="checkbox" class="options-input" id="HighlightChangeTextColor" name="HighlightChangeTextColor">
					<label for="HighlightChangeTextColor">
						Change text colour
					</label>
				</option-widget>
			</div>

			<div class="standard-options">
				<div>
					<h4>Un-dim dimmed lists on mouse over</h4>
					<p>If you’ve made lists less visible (more transparent) as part of a highlighting rule, switching this setting on will un-dim them when the mouse cursor hovers over.</p>
					<p>Default: on</p>
				</div>
				<option-widget>
					<input type="checkbox" class="options-input" id="HighlightUndimOnHover" name="HighlightUndimOnHover">
					<label for="HighlightUndimOnHover">
						Un-dim on hover
					</label>
				</option-widget>
			</div>

		</section>
	</main>

	<footer>
		<p>
			<a href="/options-page/index.html" target="_blank">View this options page in a new tab</a>
		</p>
		<p>
			For more information visit the
			<a href="http://beingmrkenny.co.uk/web-extensions/list-highlighter-trello">List Highlighter for Trello</a>
			homepage
		</p>
		<p>
			Color Picker based on <a href="https://github.com/DavidDurman/FlexiColorPicker">FlexiColorPicker by David Durman</a>
				<br>
			<a href="http://www.jacklmoore.com/autosize/">Autosize</a> by <a href="http://www.jacklmoore.com/">Jack Moore</a>
				&middot;
			<a href="https://sortablejs.github.io/Sortable/">Sortable.js</a> by <a href="https://github.com/RubaXa">RubaXa</a> and <a href="https://github.com/SortableJS">SortableJS</a>
		</p>
	</footer>

	<dialog></dialog>

	{{!-- <a href="/options-page/index.html" target="_blank" id="NewTab">Open options in new tab</a> --}}

	{{> templateTags.template colors=colors }}
	{{> listHighlightColor.template }}
	{{> colorPicker.template colors=colors }}

	{{!-- REVIEW these millions of js files is annoying to maintain - make it dynamic --}}

	<script src="/js/functions.js"></script>

	<script src="/js/classes/Global.js"></script>
	<script src="/js/classes/DataStorage.js"></script>
	<script src="/js/classes/StorageLegacy.js"></script>
	<script src="/js/classes/Color.js"></script>
	<script src="/js/classes/Options.js"></script>
	<script src="/js/classes/Rule.js"></script>
	<script src="/js/classes/Rules.js"></script>

	<script src="/js/third/colorpicker.js"></script>
	<script src="/js/third/Sortable.js"></script>
	<script src="/js/third/autosize.js"></script>
	<script src="/js/third/saveAs.js"></script>

	<script src="/js/options-page/Dialogue.js"></script>
	<script src="/js/options-page/DataSection.js"></script>
	<script src="/js/options-page/Export.js"></script>
	<script src="/js/options-page/Import.js"></script>
	<script src="/js/options-page/ColorSelect.js"></script>
	<script src="/js/options-page/LHCDColorSelect.js"></script>
	<script src="/js/options-page/ColorDialog.js"></script>
	<script src="/js/options-page/ListHighlightColorDialog.js"></script>
	<script src="/js/options-page/ColorPickerWrapper.js"></script>
	<script src="/js/options-page/RulesTable.js"></script>
	<script src="/js/options-page/RulesTableTR.js"></script>
	<script src="/js/options-page/OptionsPage.js"></script>

	<script src="/js/optionsPageInit.js"></script>

</body>
</html>
