.list-card.bmko_header-card-applied {
	background-color: transparent;
	border-bottom: none;
	box-shadow: none;

	// Dragging
	body > & {
		background: transparentize(#edeff0, 0.8);
		background-color: transparentize(#edeff0, 0.8);

		.list-card-details {
			background: transparent !important; // REVIEW Get rid of this !important
			background-color: transparent !important; // REVIEW Get rid of this !important
		}

		h3 {
			color: $trelloListHeaderColor;
		}
	}
}

.bmko_header-card {

	.expanded-list-card-operation {
		height: 14px;

		background-color: transparent;
		span {
			height: 14px;
			margin-left: 2px;
			padding: 0 4px;
			&::before {
				position: relative;
				top: -3px;
			}
		}
	}

	.bmko_header-cards-extra-space & {
		margin-top: 20px;
	}

	.bmko_header-cards-extra-space .bmko_horizontal-rule-card + & {
		margin-top: 10px;
	}

	.bmko_header-cards-extra-space .bmko_header-card + .bmko_horizontal-rule-card + & {
		margin-top: -2px;
	}

	.list-card-details {
		display: flex;
		flex-direction: column;

		padding: 0 6px 0 3px;
	}

	.list-card-labels {
		order: 1;

		margin-bottom: 0;
	}

	h3 {
		order: 2;

		margin: 0 0 1px 5px;

		font-size: 14px;
		font-weight: 700;
	}

	.badges {
		order: 3;

		margin-left: -4px;
		padding-left: 0;
	}

	.list-card-title {
		display: none;
	}

	&.is-stickered.list-card .list-card-details {
		background-color: transparent;
	}

	.list-card-operation {
		height: 16px;
		padding: 0 4px 0;

		line-height: 18px;
	}
}

.list-card.bmko_horizontal-rule-card {
	padding: 0;

	.bmko_header-cards-extra-space & {
		padding: 13px 0 0;
	}

	.bmko_separator-cards-visible-line & {
		min-height: 0;
		padding: 11px 0;
	}

	.bmko_header-cards-extra-space.bmko_separator-cards-visible-line & {
		padding: 16px 0;
	}

	.list-card-cover,
	.list-card-details,
	span,
	p {
		display: none;
	}

	&.is-stickered {
		padding-bottom: 50px;
		.list-card-operation {
			display: inline-block;
		}
	}
}

.bmko_list-highlighter-applied .list {
	.list-card.bmko_header-card-applied:not(.placeholder):not(.active-card) {
		background: transparent !important;
	}
}

.bmko_horizontal-rule-card {
	hr {
		margin: 0;

		color: transparent;
		background: transparent;
	}
	.bmko_separator-cards-visible-line & hr {
		color: $trelloListHeaderColor;
		background: $trelloListHeaderColor;

		opacity: 0.4;
	}
}

.bmko_high-list {
	.bmko_header-card-applied.active-card {
		background-color: hsla(0, 0, 100%, 0.3) !important; // REVIEW get rid of this important
	}
	.bmko_header-card {
		.badge-icon,
		.badge-text {
			color: var(--high-pri-text);
		}
		.badge {
			background: transparent;
		}
		.badge.is-due-soon,
		.badge.is-due-past {
			border: 1px solid var(--high-pri-text);
		}
	}
	.bmko_separator-cards-visible-line & hr {
		color: var(--high-pri-text);
		background: var(--high-pri-text);

		opacity: 0.4;
	}
}

.bmko_low-list {
	.bmko_horizontal-rule-card:hover {
		background-color: hsla(0, 0, 100%, 0.05);
	}
}

.list.bmko_high-list .bmko_header-card h3 {
	color: var(--high-pri-text);
	-webkit-text-fill-color: var(--high-pri-text);
}

.bmko_ignore-list,
.bmko_trash-list {
	.bmko_horizontal-rule-card {
		&:hover {
			background-color: hsla(0, 0, 100%, 0.1);
		}
	}
}
