.list-card.bmko_header-card-applied {

	background-color: transparent;
	border-bottom: none;

	// Dragging
	body > & {

		background-color: transparentize(#EDEFF0, .8);
		background: transparentize(#EDEFF0, .8);

		.list-card-details {
			background-color: transparent !important; // REVIEW Get rid of this !important
			background: transparent !important; // REVIEW Get rid of this !important
		}

		h3 {
			color: $trelloListHeaderColor;
		}

	}

}

.bmko_high-list .active-card.list-card.bmko_header-card-applied .list-card-operation {
	color: $trelloListHeaderColor;
	&:hover {
		background: transparentize(#EDEFF0, .7);
	}
}

.bmko_header-card {

	.expanded-list-card-operation {
		background-color: transparent;
		height: 14px;
		span {
			height: 14px;
			padding: 0 4px;
			margin-left: 2px;
			&::before {
				position: relative;
				top: -2px;
			}
		}
	}

	.bmko_header-cards-extra-space & {
		margin-top: 20px;
	}

	.list-card-details {
		padding: 0 6px 0 3px;
		display: flex;
		flex-direction: column;
	}

	.list-card-labels {
		margin-bottom: 0;
		order: 1;
	}

	h3 {
		margin: 0 0 1px 0;
		font-weight: 700;
		font-size: 14px;
		order: 2;
	}

	// FIXME is this needed?
	.bmko_list-highlighter-toggled-off & h3 {
		// color: $trelloListHeaderColor;
		// -webkit-text-fill-color: $trelloListHeaderColor;
	}

	.badges {
		padding-left: 0;
		margin-left: -4px;
		order: 3;
	}

	.list-card-title {
		display: none;
	}

	&.is-stickered.list-card .list-card-details {
		background-color: transparent;
	}

	.list-card-operation {
		padding: 0 4px 0;
		height: 16px;
		line-height: 18px;
	}

}

.list-card.bmko_horizontal-rule-card {

	padding: 0;

	.bmko_header-cards-extra-space & {
		padding: 13px 0 0;
	}

	.bmko_separator-cards-visible-line & {
		padding: 11px 0;
		min-height: 0;
	}

	.bmko_header-cards-extra-space.bmko_separator-cards-visible-line & {
		padding: 16px 0;
	}

	.list-card-cover, .list-card-details, span, p {
		display: none;
	}

	&.is-stickered {
		.list-card-operation {
			display: inline-block;
		}
		padding-bottom: 50px;
	}

}

.bmko_list-highlighter-applied .list {

	.list-card.bmko_header-card-applied:not(.placeholder):not(.active-card) {
		background: transparent !important;
	}

}

.bmko_high-list {

	.bmko_header-card-applied.active-card {
		background-color: hsla(0, 0, 100%, 0.3) !important; // REVIEW get rid of this important
	}
}

.bmko_low-list {

	.bmko_horizontal-rule-card:hover {
		background-color: hsla(0, 0, 100%, 0.05);
	}

}

.list.bmko_high-list .bmko_header-card h3 {
	color: var(--high-pri-text);
	-webkit-text-fill-color: var(--high-pri-text);
}

.bmko_ignore-list,
.bmko_trash-list {
	.bmko_horizontal-rule-card {
		&:hover {
			background-color: hsla(0, 0, 100%, 0.1);
		}
	}
}

.bmko_horizontal-rule-card {
	hr {
		background: transparent;
		color: transparent;
		margin: 0;
	}
	.bmko_separator-cards-visible-line & hr {
		background: $trelloListHeaderColor;
		color: $trelloListHeaderColor;
		opacity: .4;
	}
}
