
@import "../colors";
@import "vars";
@import "mixins";

body.body-color-blind-mode-enabled .bmko_high-list {
	background-image: linear-gradient(to bottom right, rgba(255,255,255,0.5) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 75%, transparent 75%, transparent);
	background-size: 2pc 2pc;

	.open-card-composer {
		opacity: 1;
	}

	.mod-list-name,
	.open-card-composer {
		text-shadow: 0 0 6px black;
	}
}

.bmko_list-highlighter-applied .list {
	color: var(--list-color);
	background: var(--list-bg);

	transition: background 0.25s;

	.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
		background: var(--scrollbar-track-color);
	}
	.u-fancy-scrollbar::-webkit-scrollbar-thumb {
		background: var(--scrollbar-thumb-color);
	}

	.list-header,
	.list-cards,
	.open-card-composer {
		opacity: var(--opacity);
	}

	// ellipsis button, add card button

	.open-card-composer,
	.list-header-extras-menu {
		color: var(--list-button-color);
		.icon-sm {
			color: var(--list-button-color);
		}
		&:hover {
			background: var(--list-button-bg);
		}
	}

	// list header

	.list-header-num-cards,
	.mod-list-name,
	.mod-list-name:disabled {
		color: var(--header-color);

		-webkit-text-fill-color: var(--header-color);
	}

	.mod-list-name.is-editing {
		color: var(--editing-color);

		-webkit-text-fill-color: var(--editing-color);
	}

	// Cards

	.list-card {
		&:not(.placeholder) {
			&.is-stickered .list-card-details {
				background: transparent;
			}

			&.active-card {
				background: var(--active-card-bg);
				border-bottom-color: var(--active-card-border-bottom-color);
				a,
				textarea {
					color: var(--active-card-color);
				}
			}

			&:not(.active-card) {
				color: var(--card-color);
				background: var(--card-bg);
				border-bottom-color: var(--card-border-bottom-color);
				.list-card-title {
					color: var(--card-color);
				}
				a,
				textarea {
					color: var(--card-color);
				}
			}
		}

		&.placeholder {
			background: var(--list-button-bg);
			border-bottom-color: transparent;
		}
	}

	// Pencil button

	.active-card .list-card-operation {
		color: var(--card-button-color);
		background: transparent;
		&:hover {
			color: var(--card-color);
			background: var(--card-button-bg);
		}
	}

	// card footer buttons

	.icon-lg {
		&.dark-hover,
		&.dark-background-hover {
			opacity: 0.7;

			color: var(--card-button-color);
			&:hover {
				opacity: 1;

				background: var(--card-button-bg);
			}
		}
	}

	// List type-specific styles

	&.bmko_high-list .member {
		color: var(--header-color);
		background: transparent;
	}

	&.bmko_high-list .member-initials {
		opacity: 0.9;
		box-sizing: border-box;

		border: 1px solid var(--header-color);
		border-radius: 3px;
	}

	&.bmko_high-list .active-card .list-card-operation {
		color: var(--pencil-button-color);
		&:hover {
			background: var(--pencil-button-bg);
		}
	}

	&.bmko_ignore-list,
	&.bmko_trash-list {
		@include ignore();
	}

	&.bmko_trash-list .list-cards {
		text-decoration: line-through;
		.confirm {
			opacity: 0.5;
		}
	}

	&.bmko_low-list {
		@include low();
	}
}

@import "workPoints";
@import "headercards";
