.list-header {
	flex-wrap: wrap;
}

@keyframes flash {
	from,
	50%,
	to {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.list-card.placeholder {
	width: 100% !important;
}

.bmko_card-count-badge {
	display: inline-block;

	padding: 2px 0;

	color: #5e6c84;

	word-spacing: -2px;
	font-size: 12px;
}

.bmko_list-limit-notice {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

	min-width: 100%;
	margin: 10px 0 6px;
	padding: 6px 0 6px 26px;

	border-radius: 4px;

	font-size: 14px;
	font-weight: bold;

	pointer-events: none;

	transition: padding 0.25s;

	.is-subscribe-shown & {
		margin-right: -51px;
	}

	&:empty {
		display: none;
	}

	.updated {
		animation-name: flash;
		animation-duration: 1s;
	}

	.bmko_list-over & {
		flex-direction: row;

		padding: 6px 13px 6px 10px;

		border: 2px solid;
		border-radius: 3px;

		text-align: center;

		animation-name: flash;
		animation-duration: 1s;

		animation-fill-mode: both;
	}
}

.bmko_list-would-be-over:not([data-bmko-original-list]) {
	.placeholder:not(.bmko_header-card-placeholder) {
		display: flex;
		align-items: center;

		&::before {
			margin-left: 10px;

			content: "over";

			font-weight: bold;
		}
	}
}
