color-picker {
	position: absolute;
	top: 0;
	left: calc(100% + 10px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 200px;
	padding: 15px;

	background-color: #f5f5f5;
	border-radius: 5px;
	filter: drop-shadow(0 0 4px #c5c5c5);

	&[hidden] {
		display: none;
	}

	&::before {
		position: absolute;
		z-index: -1;
		top: 25px;
		left: -7px;
		display: inline-block;
		content: ' ';
		width: 15px;
		height: 15px;
		transform: rotate(45deg);

		background-color: #f5f5f5;
	}


	* {
		display: block;
		box-sizing: border-box;
	}

	component-picker {
		position: relative;
		margin-bottom: 15px;
	}

	.sv-picker {
		width: 200px;
		height: 200px;
	}

	.hue-picker {
		width: 200px;
		height: 30px;
	}

	range-display {
		height: 100%;
	}

	.sv-range {
		cursor: pointer;
	}

	.hue-range {
		overflow-x: hidden;

		border-radius: 3px;

		cursor: pointer;
	}

	position-indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;

		border: 2px solid white;
		border-radius: 10px;
		box-shadow: 0 0 3px gray;

		pointer-events: none;
	}

	.hue-indicator {
		top: 5px;

		background: white;
	}

	hr {
		visibility: hidden;
		width: 100%;
		margin: 0;
	}
}

#ColorHex {
	text-transform: lowercase;
	&:invalid {
		border-color: red;
	}
}
