@use "sass:color";

.fill-normal {
	color: var(--list-fg);
	background: var(--list-bg);
}
.fill-red {
	color: white;
	background: $red;
}
.fill-orange {
	color: white;
	background: $orange;
}
.fill-yellow {
	color: white;
	background: $yellow;
}
.fill-green {
	color: white;
	background: $green;
}
.fill-cyan {
	color: white;
	background: $cyan;
}
.fill-blue {
	color: white;
	background: $blue;
}
.fill-indigo {
	color: white;
	background: $indigo;
}
.fill-violet {
	color: white;
	background: $violet;
}
.fill-pink {
	color: white;
	background: $pink;
}
.fill-black {
	color: white;
	background: $black;
}

.fill-custom {
	color: white;
}

.fill-custom:not([style]) {
	background: linear-gradient(to bottom, transparent, #737373 82%), linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);

	text-shadow: 0 0 1px black;
}

.fill-trello-red {
	color: white;
	background: $redTrello;
}
.fill-trello-orange {
	color: white;
	background: $orangeTrello;
}
.fill-trello-lime {
	color: white;
	background: $limeTrello;
}
.fill-trello-green {
	color: white;
	background: $greenTrello;
}
.fill-trello-sky {
	color: white;
	background: $skyTrello;
}
.fill-trello-blue {
	color: white;
	background: $blueTrello;
}
.fill-trello-purple {
	color: white;
	background: $purpleTrello;
}
.fill-trello-pink {
	color: white;
	background: $pinkTrello;
}
.fill-trello-gray {
	color: white;
	background: $grayTrello;
}

.mod-light-background {
	color: $bodyTextColor;
}

body {
	--button-shadow: #{color.adjust($originalListBG, $lightness: -10%)};
}

button {
	&.fill-normal {
		box-shadow: 0 1px 0 var(--button-shadow);
	}
	&.fill-red {
		box-shadow: 0 1px 0 color.adjust($red, $lightness: -10%);
	}
	&.fill-orange {
		box-shadow: 0 1px 0 color.adjust($orange, $lightness: -10%);
	}
	&.fill-yellow {
		box-shadow: 0 1px 0 color.adjust($yellow, $lightness: -10%);
	}
	&.fill-green {
		box-shadow: 0 1px 0 color.adjust($green, $lightness: -10%);
	}
	&.fill-cyan {
		box-shadow: 0 1px 0 color.adjust($cyan, $lightness: -10%);
	}
	&.fill-blue {
		box-shadow: 0 1px 0 color.adjust($blue, $lightness: -10%);
	}
	&.fill-indigo {
		box-shadow: 0 1px 0 color.adjust($indigo, $lightness: -10%);
	}
	&.fill-violet {
		box-shadow: 0 1px 0 color.adjust($violet, $lightness: -10%);
	}
	&.fill-pink {
		box-shadow: 0 1px 0 color.adjust($pink, $lightness: -10%);
	}
	&.fill-black {
		box-shadow: 0 1px 0 color.adjust($black, $lightness: -10%);
	}
	&.fill-custom {
		box-shadow: 0 1px 0 color.adjust($originalListBG, $lightness: -10%);
	}
	&.fill-trello-red {
		box-shadow: 0 1px 0 color.adjust($redTrello, $lightness: -10%);
	}
	&.fill-trello-orange {
		box-shadow: 0 1px 0 color.adjust($orangeTrello, $lightness: -10%);
	}
	&.fill-trello-lime {
		box-shadow: 0 1px 0 color.adjust($limeTrello, $lightness: -10%);
	}
	&.fill-trello-green {
		box-shadow: 0 1px 0 color.adjust($greenTrello, $lightness: -10%);
	}
	&.fill-trello-sky {
		box-shadow: 0 1px 0 color.adjust($skyTrello, $lightness: -10%);
	}
	&.fill-trello-blue {
		box-shadow: 0 1px 0 color.adjust($blueTrello, $lightness: -10%);
	}
	&.fill-trello-purple {
		box-shadow: 0 1px 0 color.adjust($purpleTrello, $lightness: -10%);
	}
	&.fill-trello-pink {
		box-shadow: 0 1px 0 color.adjust($pinkTrello, $lightness: -10%);
	}
	&.fill-trello-gray {
		box-shadow: 0 1px 0 color.adjust($grayTrello, $lightness: -10%);
	}
}
