color-select {
	position: relative;
	margin: 0;

	ul {
		display: inline-flex;
		margin: 0;
		padding: 0;

		list-style: none;
	}

	li {
		display: inline-flex;
		margin: 0;
		padding: 0;
	}

	li > button {
		display: none;
		align-self: baseline;
		margin-bottom: 2px;
		padding: 3px 7px 5px;

		color: white;

		&[data-selected] {
			display: inline-block;
		}
		&:after {
			content: "▾";

			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		&.mod-no-dropdown:after {
			display: none;
		}

		&[disabled] {
			color: #909090;
			background: #dedede;
			box-shadow: 0 1px 0 #909090;

			cursor: default;
		}
	}

	&.mod-inline {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: static;
		button {
			margin: 5px;
			padding: 0 5px;
			&[data-selected] {
				padding: 2px 7px;
			}
		}
	}

	&[data-open] {
		display: inline-block;
		position: relative;
		left: -4px;

		ul {
			display: inline-flex;
			flex-direction: column;
			position: absolute;
			z-index: 1;
			padding: 1px;

			background: $dialogBG;
			border-radius: 5px;

			filter: drop-shadow(0 0 2px rgba(black, .2));
		}

		li > button {
			display: inline-block;
			position: relative;
			margin: 2px 13px 2px 13px;

			&.fill-trello-red,
			&.fill-red {
				margin-top: 13px;
			}

			&.fill-trello-photo,
			&.fill-custom {
				margin-bottom: 13px;
			}

			&[data-selected] {
				padding-left: 30px;

				background-image: url("/img/tick-white.svg");
				background-position: left 5px center;
				background-repeat: no-repeat;
				&.fill-trello-photo {
					background: url("/img/tick.svg") no-repeat left 5px center,
					url("/img/dummyBackgroundPhoto.jpg") no-repeat;
					background-size: auto, cover;
				}
			}

			&.mod-light-background[data-selected] {
				background-image: url("/img/tick.svg");
			}

			&:after {
				display: none;
			}
		}

		.fill-trello-blank,
		.fill-blank {
			display: none;
		}
	}
}
