
@mixin arrow-transform ($extraFunctions) {
	transform: rotate(-45deg) $extraFunctions;
}

dialog.color-picker {
	position: absolute;
	width: 260px;

	* {
		display: block;
		box-sizing: border-box;
	}

	dialog-contents {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&::before {
			display: inline-block;
			position: absolute;
			z-index: 0;
			width: 15px;
			height: 15px;
			transform: rotate(45deg);

			content: " ";
			background-color: $dialogBG;
		}
	}

	&.position-top {
		bottom: calc( 100% + 14px );
		dialog-contents::before {
			bottom: -13px;
			left: 50%;

			@include arrow-transform (translate(0, -50%));
		}
	}

	&.position-left {
		top: 5px;
		dialog-contents::before {
			top: 25px;
			right: -13px;

			@include arrow-transform (translate(0, -50%));
		}
	}

	component-picker {
		position: relative;
		margin-bottom: 15px;
	}

	.sv-picker {
		width: 200px;
		height: 200px;
	}

	.hue-picker {
		width: 200px;
		height: 30px;
	}

	range-display {
		height: 100%;
	}

	.sv-range {
		cursor: pointer;
	}

	.hue-range {
		overflow-x: hidden;

		border-radius: 3px;

		cursor: pointer;
	}

	position-indicator {
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;

		border: 2px solid white;
		border-radius: 10px;
		box-shadow: 0 0 3px gray;

		pointer-events: none;
	}

	.hue-indicator {
		top: 5px;

		background: white;
	}

	hr {
		width: 100%;
		margin: 0;

		visibility: hidden;
	}
}

#ColorHex,
#ColorHexDisplay {
	width: 100%;

	text-align: left;
	text-transform: lowercase;
	&:invalid {
		border-color: red;
	}
}

.custom-color-picker-button-container {
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 15px;
}

.custom-color-picker-button {
	display: inline-block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 0 2px 2px 0;
	padding: 0;

	background-image: none;
	border: 0;
	box-shadow: none;
}
