@mixin full-width($width, $backgroundColor: white) {
	width: $width;

	background: $backgroundColor;
	border-right: calc( (100vw - #{$width}) / 2 ) solid $backgroundColor;
	border-left: calc( (100vw - #{$width}) / 2 ) solid $backgroundColor;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	min-height: 100vh;
	margin: 0;
}

#MainHeader {
	div {
		padding-top: 30px;

		@include full-width(800px, #edeff0);
	}
	nav {
		clear: both;

		margin-top: 30px;
	}
}

main {
	display: flex;
	flex: 1;
	flex-direction: column;

	padding: 20px 0;

	@include full-width(800px);
}

footer {
	height: 70px;
	margin-top: 50px;

	@include full-width(800px);
}
