#ListHighlightColorDialog {
	header {
		display: flex;
		justify-content: space-between;

		margin: 10px 0 15px;
	}

	&.mod-lightness {
		.lightness-slider {
			display: flex;
		}
		.color-tile-bar {
			display: none;
		}
	}

	&.mod-colortiles {
		.lightness-slider {
			display: none;
		}
		.color-tile-bar {
			display: flex;
		}
	}
}

.lightness-slider {
	display: flex;

	width: 100%;
	height: 30px;

	background: linear-gradient(to right, hsl(209, 7%, 50%), hsl(209, 7%, 94%) );
	border-radius: 3px;

	input[type=range] {
		-webkit-appearance: none;

		width: 100%;

		&:focus {
			outline: none;
		}

		&::-webkit-slider-runnable-track,
		&:focus::-webkit-slider-runnable-track,
		&::-moz-range-track {
			background: transparent;
		}

		&::-webkit-slider-thumb,
		&::-moz-range-thumb {
			-webkit-appearance: none;

			width: 16px;
			height: 16px;

			background: transparent;
			border: 2px solid #fff;
			border-radius: 10px;
			box-shadow: 0 0 3px gray;

			cursor: pointer;
		}
	}
}

.color-tile-bar {
	display: flex;
	position: relative;
	justify-content: space-between;

	min-height: 83px;
	margin: 0 0 20px 0;
	padding: 0;

	list-style: none;

	li {
		margin: 0;
		padding: 0;
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		width: 60px;
		height: 60px;

		color: white;
		border-radius: 3px;

		text-align: center;

		cursor: pointer;
		user-select: none;

		@include transition(height, color, background-color);

		@media (max-width: 800px) {
			width: 50px;
		}
		&.mod-light-background {
			color: $normalTextColor;
		}

		&:hover {
			height: 65px;
		}

		&::before {
			color: white;

			@include transition(color);
		}

		&.fill-normal {
			color: var(--list-fg);
			background: var(--list-bg);
		}
	}

	.color-tile-edit-color {
		display: none;

		width: 100%;
		height: 19px;
		margin-left: -5px;
		padding: 0;

		color: inherit;
		background: none;
		box-shadow: none;

		font-size: 12px;

		&::before {
			display: inline-block;

			width: 10px;
			height: 10px;
			margin-right: 1px;

			content: " ";
		}

		&:hover {
			text-decoration: none;
		}
	}

	.color-tile-edit-color::before {
		background: url("/img/pencil-white.svg");
		background-size: cover;
	}

	.color-tile-edit-color:hover {
		text-decoration: underline;
	}

	.mod-light-background {
		.color-tile-edit-color::before {
			background: url("/img/pencil.svg");
			background-size: cover;
		}
	}

	input:checked + label {
		height: 83px;

		&::before {
			position: relative;
			top: -20px;

			width: 26px;
			height: 22px;

			content: " ";

			background: url("/img/tick-white.svg");
			background-size: cover;
			border-radius: 3px;

			font-size: 26px;
		}

		&[for="ColorTile-custom"]::before {
			top: -6px;
		}

		&.mod-light-background::before {
			color: $bodyTextColor;
			background: url("/img/tick.svg");
			background-size: cover;
		}

		&[for="ColorTile-normal"]::before {
			background: var(--list-tick);
			background-size: cover;
		}

		&.custom::before {
			top: -10px;
		}

		.color-tile-edit-color {
			display: inline;
		}
	}

	input:disabled + label {
		cursor: default;

		opacity: 0.2;
		filter: grayscale(100%);
		&:hover {
			height: 60px;
		}
	}

	input {
		display: none;
	}
}

.opacity-input-label {
	display: flex;
	justify-content: space-between;

	padding: 0 5px;
	box-sizing: content-box;

	color: $bodyTextColor;

	input {
		width: 100%;
		margin: 0 10px;
	}
}

.dummy-board {
	margin: 20px 0 0;
	padding: 10px;

	border-radius: 5px;

	user-select: none;

	transition: background 0.25s;

	.dummy-board_body {
		display: flex;
	}

	.dummy-board_list {
		min-width: 270px;
		max-width: 270px;

		border-radius: 3px;

		font-size: 14px;

		transition: background 0.25s;

		@media (max-width: 800px) {
			min-width: 220px;
			max-width: 220px;
		}

		&:not(.fill-normal) {
			.dummy-board_list-header,
			.dummy-board_add-card {
				color: white;
			}
		}

		&.mod-light-background {
			.dummy-board_list-header,
			.dummy-board_add-card {
				color: $normalTextColor;
			}
		}

		&.dummy-board_demo-list {
			margin: 0 10px;
		}

		.dummy-board_list-header {
			height: 20px;
			margin: 8px 10px;

			line-height: 18px;
			font-weight: 700;
		}

		.dummy-board_card {
			margin: 0 8px 6px;
			padding: 6px 8px;
			box-sizing: content-box;

			color: #444;
			background: white;
			border-bottom: 1px solid #ccc;
			border-radius: 3px;

			line-height: 18px;
		}

		.dummy-board_add-card {
			height: 18px;
			margin: 0;
			padding: 8px 10px;

			line-height: 18px;
		}
	}
}

.highlight-color-exception-section {
	&[open] {
		background: #ececec;
	}

	.highlight-color-blurb {
		max-width: 800px;
		margin-bottom: 0;

		line-height: 1.5;
	}

	 > ul {
		margin: 20px 0 20px 20px;
		padding-left: 20px;
		 > li {
			margin-top: 5px;
			padding-left: 0;

			font-size: 15px;
			&.mod-marked-for-deletion {
				color: $gray;
			}
		}

		div {
			display: flex;
		}
	}

	color-select {
		margin: 0 5px;
	}

	.highlight-exceptions-marked-for-deletion {
		float: right;

		margin: 0;
	}

	.highlight-exception-delete {
		align-self: baseline;

		margin-right: 10px;
		margin-left: auto;

		user-select: none;
	}
}

.color-select-edit-custom-color-button-container {
	display: none;
}

[name="ColorSelectEditCustom"] {
	align-self: baseline;

	padding: 1px 7px 2px;
}

@import "colorButtonsEtc";
