@use "sass:meta";
@use "../colors";

#ListHighlightColorDialog h2 {
	margin: 10px 0 15px;
}

.color-tile-bar {
	display: flex;
	justify-content: space-between;
	position: relative;
	min-height: 83px;
	margin: 0 0 20px 0;
	padding: 0;

	list-style: none;

	li {
		margin: 0;
		padding: 0;
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		width: 60px;
		height: 60px;

		color: white;
		border-radius: 3px;

		text-align: center;

		cursor: pointer;
		user-select: none;

		transition-duration: .25s;
		transition-property: height, color, background-color;

		@media (max-width: 800px) {
			width: 50px;
		}
		&.mod-light-background {
			color: colors.$normalTextColor;
		}

		&:hover {
			height: 65px;
		}

		&::before {
			color: white;

			transition-duration: .25s;
			transition-property: color;
		}

		&.fill-normal {
			color: var(--list-fg);
			background: var(--list-bg);
		}
	}

	.color-tile-edit-color {
		display: none;
		width: 100%;
		height: 19px;
		margin-left: -5px;
		padding: 0;

		color: inherit;
		background: none;
		box-shadow: none;

		font-size: 12px;

		&::before {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-right: 1px;

			content: " ";
		}

		&:hover {
			text-decoration: none;
		}
	}

	.color-tile-edit-color::before {
		background: url("/img/pencil-white.svg");
		background-size: cover;
	}

	.color-tile-edit-color:hover {
		text-decoration: underline;
	}

	.mod-light-background {
		.color-tile-edit-color::before {
			background: url("/img/pencil.svg");
			background-size: cover;
		}
	}

	input:checked + label {
		height: 83px;

		&::before {
			position: relative;
			top: -20px;
			width: 26px;
			height: 22px;

			content: " ";
			background: url("/img/tick-white.svg");
			background-size: cover;
			border-radius: 3px;

			font-size: 26px;
		}

		&[for="ColorTile-custom"]::before {
			top: -6px;
		}

		&.mod-light-background::before {
			color: colors.$bodyTextColor;
			background: url("/img/tick.svg");
			background-size: cover;
		}

		&[for="ColorTile-normal"]::before {
			background: var(--list-tick);
			background-size: cover;
		}

		&.custom::before {
			top: -10px;
		}

		.color-tile-edit-color {
			display: inline;
		}
	}

	input:disabled + label {
		opacity: .2;

		cursor: default;
		filter: grayscale(100%);
		&:hover {
			height: 60px;
		}
	}

	input {
		display: none;
	}
}

.opacity-input-label {
	display: flex;
	justify-content: space-between;
	box-sizing: content-box;
	padding: 0 5px;

	color: colors.$bodyTextColor;

	input {
		width: 100%;
		margin: 0 10px;
	}
}

.dummy-board {
	margin: 20px 0 0;
	padding: 10px;

	border-radius: 17px;

	user-select: none;
	transition: background .25s;

	.dummy-board_body {
		display: flex;
		align-items: flex-start;
	}

	.dummy-board_list {
		min-width: 270px;
		max-width: 270px;

		border-radius: 12px;
		box-shadow: 0 1px 1px #091e4240, 0 0 1px #091e424f;

		font-size: 14px;

		transition: background .25s;

		@media (max-width: 800px) {
			min-width: 220px;
			max-width: 220px;
		}

		&:not(.fill-normal) {
			.dummy-board_list-header,
			.dummy-board_add-card {
				color: white;
			}
		}

		&.mod-light-background {
			.dummy-board_list-header,
			.dummy-board_add-card {
				color: colors.$normalTextColor;
			}
		}

		&.dummy-board_demo-list {
			margin: 0 10px;
		}

		.dummy-board_list-header {
			height: 20px;
			margin: 14px 18px;

			line-height: 18px;
			font-weight: 700;
		}

		.dummy-board_card {
			box-sizing: content-box;
			margin: 0 8px 6px;
			padding: 9px 10px;

			color: #444;
			background: white;
			border-radius: 8px;
			box-shadow: 0 1px 1px #091e4240, 0 0 1px #091e424f;

			line-height: 18px;
		}

		.dummy-board_add-card {
			height: 18px;
			margin: 0;
			padding: 14px 19px;

			line-height: 18px;

			svg {
				margin-right: 6px;

				vertical-align: sub;
			}
		}
	}
}

.color-select-edit-custom-color-button-container {
	display: none;
}

[name="ColorSelectEditCustom"] {
	align-self: baseline;
	padding: 1px 7px 2px;
}

@include meta.load-css("colorButtonsEtc");
