.multiple-standard-options {
	display: flex;
}

.standard-options {
	display: flex;
	align-items: flex-start;
	max-height: 200px;
	overflow: hidden;
	margin: 40px 0;

	transition: max-height .25s;

	div {
		order: 2;
		padding-left: 20px;

		cursor: pointer;
		user-select: none;
	}

	&.disabled > div,
	&.disabled > option-widget {
		cursor: default;
	}

	&.disabled {
		max-height: 0;
	}

	h3,
	h4 {
		margin: -.4em 0 .25em 0;
		padding: 0;

		color: inherit;

		font-size: inherit;
	}

	p {
		margin: .25em 0;

		color: $bodyTextColor;
	}
}

option-widget {
	display: block;
	order: 1;

	input {
		display: none;
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 80px;
		min-height: 28px;
		margin-right: 10px;
		padding: 5px;
		padding-top: 33px;

		color: #4e4e4e;
		background: #afafaf;
		border-radius: 3px;

		line-height: 1;
		text-align: center;

		&::before,
		&::after {
			position: absolute;
		}

		&::before {
			display: inline-block;
			top: 10px;
			left: 50%;
			width: 40px;
			height: 18px;
			margin-left: -27px;
			padding: 0 6px;

			content: "OFF";
			background: gray;
			border-radius: 10px;

			line-height: 18px;
			font-size: 13px !important;
			font-weight: normal !important;
			text-align: right;

			transition: background .25s;
		}

		&::after {
			display: inline-block;
			top: 12px;
			left: 50%;
			width: 14px;
			height: 14px;
			margin-left: -25px;

			content: " ";
			background: white;
			border-radius: 10px;

			transition: margin-left .25s;
		}
	}

	input:checked + label {
		color: white;
		background: $blueTrello;
		&::before {
			content: "ON";
			background: #64bb02;

			text-align: left;
		}
		&::after {
			margin-left: 9px;
		}
	}

	input:disabled + label {
		opacity: .3;
	}
}
